In [1]:
#Important to set Kernel/seed so that Python is running on something
print("hello, world!")

hello, world!

## Data types

In [2]:
#Above is a markdown
test = "Hello"

In [3]:
test

'Hello'

In [4]:
type(test)

str

In [5]:
#numeric types come in 2 forms: integers and floats
#Integer
number = 10

#Float
floaty = 5.4

In [6]:
number + floaty

15.4

In [7]:
test + test

'HelloHello'

In [8]:
print (test)

Hello

### Operators

In [9]:
10 + 5

15

In [10]:
3 ** 3

27

In [11]:
15 // 4
#rounds to integer

3

In [12]:
15 % 2
# Modulo let's us test if a number is even or odd

1

In [14]:
16 % 2

0

In [17]:
"foo " * 10

'foo foo foo foo foo foo foo foo foo foo '

## Python collections

In [2]:
#list
my_list = [1, '2', 3.2]

In [21]:
print(my_list[0])

1

In [3]:
#Last item on the list
print(my_list[-1])

3.2

In [4]:
#all items but the first
print(my_list[1:])

['2', 3.2]

In [8]:
#dictionaries

my_dict = {'first': my_list, 'second': 2, 'third': 3}

In [11]:
print(my_dict['first'])

[1, '2', 3.2]

In [13]:
# ! tells note book to run the code as a temrinal comand, not a python command
! unzip data/portal-teachingdb-master.zip

Archive:  data/portal-teachingdb-master.zip
   creating: portal-teachingdb-master/
  inflating: portal-teachingdb-master/surveys2001.csv
  inflating: portal-teachingdb-master/surveys2002.csv
  inflating: portal-teachingdb-master/speciesSubset.csv
  inflating: portal-teachingdb-master/bouldercreek_09_2013.txt
  inflating: portal-teachingdb-master/species.csv
  inflating: portal-teachingdb-master/surveys.csv
  inflating: portal-teachingdb-master/portal_mammals.sqlite
  inflating: portal-teachingdb-master/README.txt
  inflating: portal-teachingdb-master/plots.csv

In [15]:

#aliasing pandas as pd for ease to use pandas functions as pd.
import pandas as pd

In [17]:
surveys_df = pd.read_csv('portal-teachingdb-master/surveys.csv')

In [18]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN